*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /*Neutral colours*/
    --Neutral-900: hsl(33, 15%, 15%);
    --Neutral-800: hsl(33, 22%, 20%);
    --Neutral-700: hsl(32, 20%, 29%);
    --Neutral-600: hsl(33, 17%, 41%);
    --Neutral-400: hsl(36, 22%, 86%);
    --Neutral-200: hsl(30, 24%, 93%);
    --Neutral-100: hsl(35, 60%, 96%);
    --Neutral-50: hsl(40, 60%, 98%);
    --Neutral-0: hsl(0, 0%, 100%);
    --Light-grey-1: rgb(85, 84, 84);

    /*Sun*/
    --Sun-500: hsl(42, 83%, 58%);
    --Sun-300: hsl(44, 84%, 75%);
    --Sun-200: hsl(45, 100%, 74%);
    --Sun-50: hsl(41, 100%, 93%);

    /*Terracotta*/
    --Terracotta-700: hsl(15, 69%, 37%);
    --Terracotta-600: hsl(15, 74%, 41%);
    --Terracotta-500: hsl(18, 62%, 47%);
    --Terracotta-400: hsl(22, 72%, 56%);
   
    /*Blue*/
    --Blue-500: hsl(230, 49%, 56%);

    /*Rose*/
    --Rose-500: hsl(340, 48%, 52%);

    /*Fonts*/
    --Font-size: 14px;
    --font-family-1: 'Fraunces', serif;
    --font-family-2: 'DM Sans', serif;
    --font-family-3: 'DM Mono', serif;
}

body{
    padding: 22px;
    margin: 0 auto;
    width: 375px;
    background-color: var(--Neutral-200);
}

.hero-section{
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-section p{
    text-transform: uppercase;
    font-family: var(--font-family-3);
    letter-spacing: 0.2rem;
    color: rgb(100, 98, 98);
    font-weight: 400;
    font-size: 10px;
}

.hero-section h1{
    font-family: var(--font-family-1);
    font-weight: 500;
}
.Lucia{
    color: var(--Terracotta-700);
    font-style: italic;
}

.main-btns{
    display: flex;
    padding: 10px 0;
    justify-content: center;
    gap: 12px;
}

.main-btns button{
    padding:  10px 14px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    border-radius: 22px;
    font-family: var(--font-family-2);
    margin-bottom: 20px;
}

.print-btn{
    background-color: var(--Neutral-200);
    border-color: rgba(128, 128, 128, 0.4);
}

.add-btn{
    color: var(--Neutral-0);
    background-color: rgb(0, 0, 0);
}

.welcome-card{
    background-color: var(--Terracotta-600);
    border-radius: 22px;
    padding: 22px;
    width: 100%;
    height: 460px;
    position: relative;
    transform: rotate(2deg);
    margin-top: 20px;
}

.welcome-txt{
    border-top: 1px dashed rgba(255, 255, 255, 0.3);
    margin-top: 14px;
    padding-top: 12px;
    text-transform: uppercase;
    color: var(--Neutral-400);
    font-family: var(--font-family-3);
    font-size: 10px;
    letter-spacing: 1.5px;
}

.sun-icon{
    position: absolute;
    margin-bottom: 12px;
    top: 60px;
    right: 20px;
}
    

.note{
    margin-top: 48px;
}

.note-header{
    font-size: larger;
    color: var(--Sun-300);
    font-family: var(--font-family-1);
    font-style: italic;
    margin-bottom: 8px;
}

.host-name{
    font-family: var(--font-family-1);
    font-style: italic;
    color: var(--Neutral-400);
    margin-bottom: 16px;
    margin-left: 6px;
    font-size: 2.5rem;
}

.note-txt{
    font-family: var(--font-family-2);
    color: var(--Neutral-400);
    font-size: 0.9rem;
    font-weight: 300;
   
}

.room-info{
    margin-top: 120px;
    color: var(--Neutral-400);
}

.room{
    text-transform: uppercase;
    font-family: var(--font-family-2);
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.room-name{
    font-size: 1.4rem;
}

.receipt-card{
    background-color: var(--Neutral-0);
    width: 100%;
    height: 100%;
    margin-top: 32px;
    margin-bottom: 24px;
    border-radius: 22px;
    box-shadow: -7px 5px 20px -5px #000000;
    padding: 22px;
    transform: rotate(-2deg);
}

.receipt-txt{
    text-transform: uppercase;
    font-family: var(--font-family-2);
    font-size: 12px;
    letter-spacing: 1.1px;
    color: rgb(85, 84, 84);
}

.receipt-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom :1px dashed rgba(56, 51, 51, 0.2);
    margin-bottom: 18px;
}

.receipt-left h2{
    font-family: var(--font-family-1);
    font-weight: normal;
}

.receipt-right{
    color: rgb(85, 84, 84);
    font-family: var(--font-family-3);
    font-size: 11px;
    letter-spacing: 1.5px;
    text-align: right
}

.dates-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    text-align: center;
    border-bottom: 1px dashed rgba(56, 51, 51, 0.2);
}

.check-in{
    padding-bottom: 22px;
    
}

.check-in p:first-of-type, .check-out p:first-of-type{
    color: rgb(85, 84, 84);
    font-size: 12px;
    text-transform: uppercase;
    font-family: var(--font-family-3);
    padding-bottom: 12px;
    letter-spacing: 1.5px;
}

.check-in p:nth-of-type(2), .check-out p:nth-of-type(2){
    font-family: var(--font-family-1);
    font-size: 2rem;
}

.check-in p:nth-of-type(3), .check-out p:nth-of-type(3){
    font-family: var(--font-family-2);
    color: rgb(85, 84, 84);
    font-size: 14px;
    margin-top: 3px;
}

.item-1,.item-2,.item-3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: var(--font-family-3);
    font-size: 12px;
    font-weight: 400;
    gap: 12px;
    color: rgb(27, 27, 27);
    white-space: nowrap;
}

.item-3{
    padding-bottom: 22px;
    border-bottom: 1px solid rgba(27, 27, 27, 0.8);
}

.receipt-footer{
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family-3);
    align-items: center;
}

.total{
    margin-top: 12px;
    text-transform: uppercase;
    color: rgb(85, 84, 84);
    letter-spacing: 2px;
    font-size: 14px;
    font-family: var(--font-family-3);
}

.total-price{
    margin-top: 12px;
    font-family: var(--font-family-1);
    font-size: 1.6rem;
}

.receipt-barc{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    align-items: center;
}

.receipt-barc p{
    color: rgb(85, 84, 84);
    font-size: 12px;
    text-transform: uppercase;
    font-family: var(--font-family-3);
}

.feature-card-1, .feature-card-2, .feature-card-3{
    background-color: var(--Neutral-0);
    border-radius: 16px;
    margin-top: 22px;
    padding: 12px;
    padding-top: 22px;
    height: 250px;
    border: 1px solid rgba(190, 187, 187, 0.9);
}

.top-row{
    display: flex;
    font-size: 0.9rem;
    align-items: center;
}

.feature{
    margin-right: auto;
    text-transform: uppercase;
    font-family: var(--font-family-2);
    letter-spacing: 1.5px;
    font-weight: 500;
}

.feature-num{
    font-size: 1.5rem;
    font-family: var(--font-family-1);
}
.feature-card-1 .top-row{
    color: var(--Terracotta-600);
}

.feature-card-1 .feature-icon-img{
    background-color: var(--Terracotta-600);
}

.feature-icon-img{
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    margin-right: 6px;
}
