*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /*Neutral colours*/
    --Neutral-900: hsl(33, 15%, 15%);
    --Neutral-800: hsl(33, 22%, 20%);
    --Neutral-700: hsl(32, 20%, 29%);
    --Neutral-600: hsl(33, 17%, 41%);
    --Neutral-400: hsl(36, 22%, 86%);
    --Neutral-200: hsl(30, 24%, 93%);
    --Neutral-100: hsl(35, 60%, 96%);
    --Neutral-50: hsl(40, 60%, 98%);
    --Neutral-0: hsl(0, 0%, 100%);

    /*Sun*/
    --Sun-500: hsl(42, 83%, 58%);
    --Sun-300: hsl(44, 84%, 75%);
    --Sun-200: hsl(45, 100%, 74%);
    --Sun-50: hsl(41, 100%, 93%);

    /*Terracotta*/
    --Terracotta-700: hsl(15, 69%, 37%);
    --Terracotta-600: hsl(15, 74%, 41%);
    --Terracotta-500: hsl(18, 62%, 47%);
    --Terracotta-400: hsl(22, 72%, 56%);
   
    /*Blue*/
    --Blue-500: hsl(230, 49%, 56%);

    /*Rose*/
    --Rose-500: hsl(340, 48%, 52%);

    /*Fonts*/
    --Font-size: 14px;
    --font-family-1: 'Fraunces', serif;
    --font-famiyl-2: 'DM Sans', serif;
    --font-family-3: 'DM Mono', serif;
}

body{
    padding: 22px;
    margin: 0 auto;
    width: 375px;
    background-color: var(--Neutral-200);
   
}

.hero-section{
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-section p{
    text-transform: uppercase;
    font-family: var(--font-family-3);
    letter-spacing: 0.2rem;
    color: rgb(100, 98, 98);
    font-weight: 400;
    font-size: 10px;
    
    
}

.hero-section h1{
    font-family: var(--font-family-1);
    font-weight: 500;
}
.Lucia{
    color: var(--Terracotta-700);
    font-style: italic;
}

.main-btns{
    display: flex;
    padding: 10px 0;
    justify-content: center;
    gap: 22px;
}

.main-btns button{
    padding:  10px 14px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    border-radius: 22px;
    font-family: var(--font-famiyl-2);
    
}

.print-btn{
    background-color: var(--Neutral-200);
    border-color: rgba(128, 128, 128, 0.4);
}

.add-btn{
    color: var(--Neutral-0);
    background-color: black;
}